<%= form_for(@overtime) do |f| %>
  <% if @overtime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@overtime.errors.count, "error") %> prohibited this overtime from being saved:</h2>

      <ul>
      <% @overtime.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject, '标题' %>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :start_time, '开始时间' %>
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time, '结束时间' %>
    <%= f.text_field :end_time %>
  </div>
  <div class="field">
    <%= f.label :participants, '参加人员' %>
    <%= f.select :participants, options_from_collection_for_select(User.all, :id, :email), {}, {:multiple => true} %>
  </div>
  <div class="field">
    <%= f.label :content, '备注' %>
    <%= f.text_area :content, :rows => 10 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
