<%= form_for(@overtime) do |f| %>
  <% if @overtime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@overtime.errors.count, "error") %> prohibited this overtime from being saved:</h2>

      <ul>
      <% @overtime.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :subject, '标题', :class=>'control-label' %>
    <div class="controls">
      <%= f.text_field :subject %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_time, '开始时间', :class=>'control-label' %>
    <div class="controls">
      <%= f.text_field :start_time %>
    </div>
  </div>  
  <div class="control-group">
    <%= f.label :end_time, '结束时间', :class=>'control-label' %>
    <div class="controls">
      <%= f.text_field :end_time %>
    </div>
  </div>
  <div class="control-group">
  <%= f.label :participants, '参加人员', :class=>'control-label' %>
    <div class="controls">
      <%= f.select :participants, options_from_collection_for_select(User.all, :id, :chinese_name), {}, {:multiple => true} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, '备注', :class=>'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :rows => 10 %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit '提交', :class=>'btn' %>
    </div>
  </div>
<% end %>
