<ul class="breadcrumb">
  <li><a href="/">首页</a> <span class="divider">/</span></li>
  <li class="active">加班系统</li>
</ul>

<div class="page-header"><h1>加班列表</h1></div>
  
<p>
  <% if current_user.can_add_overtime? %><%= link_to '新增加班申请', new_overtime_path, :class=>'btn' %><% end %>
  <a class="btn" href="{% url overview_overtime %}">加班统计</a>
</p>
      
<% if current_user.can_filter_overtime? %>
<p>
  <span id="date-filter" class="pull-right" onclick="showDatePicker();">{{ date_filter }}</span>
  <ul class="nav nav-tabs">
    <li class="{% ifequal filter 'all' %}active{% endifequal %}"><a href="{% url filter_all_overtime %}">全部</a></li>
    <li class="{% ifequal filter 'new' %}active{% endifequal %}"><a href="{% url filter_new_overtime %}">未提交</a></li>
    <li class="{% ifequal filter 'applying' %}active{% endifequal %}"><a href="{% url filter_applying_overtime %}">申请中</a></li>
    <li class="{% ifequal filter 'approved' %}active{% endifequal %}"><a href="{% url filter_approved_overtime %}">通过</a></li>
  </ul>
</p>
<% end %>

<% if current_user.is_hr? %>
  <% @overtimes.each do |overtime| %>
  <li>
      <h3><a href="{% url show_overtime app.id %}"><%= overtime.subject %></a></h3>
      <%= overtime.state.name %>
      <div class="foot">最后由 • <span class="field"><%= overtime.modified_by.chinese_name %></span> • 于 • <span class="field"><%= overtime.updated_at %></span> • 修改</div>
  </li>
  <% end %>
<% else %>
  <% for flow in @overtime_flows %>
<div class="row">
  <div class="span12">
    <h4>
      <a href="{% url show_overtime flow.application.id %}"><%= flow.overtime.subject %></a>
      <span class="label label-{{ flow.application.state.code }}" id="app_state"><%= flow.overtime.state.name %></span>
    </h4>
    <small>最后由 • <strong><%= flow.overtime.modified_by.chinese_name %></strong> • 于 • <strong><%= flow.updated_at %></strong> • 修改</small>
    <div class="pull-right">
      <% if flow.can_update %><%= link_to '修改', edit_overtime_path, :class => 'btn btn-small' %><% end %>
      <% if flow.can_approve %><a class="btn btn-small" href="<% url approve_overtime flow.application.id %>">通过</a><% end %>
      <% if flow.can_reject %><a class="btn btn-small" href="<% url reject_overtime flow.application.id %>">拒绝</a><% end %>
      <% if flow.can_apply %><a class="btn btn-small" href="<% url apply_overtime flow.application.id %>">提交</a><% end %>
      <% if flow.can_revoke %><a class="btn btn-small" href="<% url revoke_overtime flow.application.id %>">撤销</a><% end %>
      <% if flow.can_delete %><a class="btn btn-small" href="<% url delete_overtime flow.application.id %>" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a><% end %>
    </div>
  </div>
</div>
<hr>
  <% end %>
<% end %>
