<p id="notice"><%= notice %></p>

<p>
  <b>主题:</b>
  <%= @overtime.subject %>
</p>

<p>
  <b>申请人:</b>
  <%= @overtime.applicant.email %>
</p>

<p>
  <b>开始时间:</b>
  <%= @overtime.start_time %>
</p>

<p>
  <b>结束时间:</b>
  <%= @overtime.end_time %>
</p>

<p>
  <b>申请日期:</b>
  <%= @overtime.created_at %>
</p>

<p>
  <b>参加人员:</b>
  <%= @overtime.participants_string %>
</p>

<p>
  <b>状态:</b>
  <%= @overtime.state.name %>
</p>

<p>
  <b>备注:</b>
  <%= @overtime.content %>
</p>

<%= link_to 'Edit', edit_overtime_path(@overtime) %> |
<%= link_to 'Back', overtimes_path %>
